# Editing and patching
*.swp
*~
*.orig
*.rej

# Compiler output
*.o
libopenspotify.so
libopenspotify.dylib
simple
browse
link
test
track

# Debugging
despotify.log

# Cache stuff
*.user
*.cache
*.xml

# Visual Studio stuff
Debug
Release
*.ncb
*.suo

# Xcode and Mac OS X stuff
build/*
*.pbxuser
*.mode1v3
.DS_Store
